.form {
  margin-top: 10 em !important;
  display: flex;
  flex-direction: column;
  &__input-create {
    width: 21em;
    height: 2em;
    font-size: x-large;
    text-align: justify;
    border-radius: 6px;
  }
  &__btn-create {
    margin: 2rem 73rem;
    height: 3rem;
    border-radius: 16px;
    font-size: 1.5rem;
    box-shadow: 6px 6px 19.5px grey;
    width: 8%;
    &:hover {
      opacity: 2;
      transition: 1s;
      background-color: #e8bebe;
      cursor: pointer;
    }
  }
  &__label {
    margin-right: 17em;
    margin-bottom: 0.3em;
    font-size: 19px;
  }
}
